/* 
 1-Posicionamiento =>Static, absolute, relative, fixed
 2-Modelo de Caja o Box Model => Margin, border, padding, content
 3-Tipografia Fuentes => Tipos y tamanos de fuente
 4-Visuales Efectos =>Box shadows, border radius, gradient
 5-Otros => Regla CSS
*/

/* Creando variables */
:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7 --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
/* Universal para el html */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Fuentes de html */
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: center;
}
header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 120px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 230px;
    height: 50px;
    background-color: var(--off-white);
    /* Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
main{
    width: 100%;

    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/imgs/Bitcoin.svg");
}
.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter" , sans-serif;
}
.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table{
    width: 100%;
    height: 100%;
}
.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right{
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table--date{
    width: 230px;
    height: 30px;
    margin: 0 auto;
    background-color: var(--soft-orange);
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
}
.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--warm-black);
}
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url('./assets/icons/batata.svg');
    top: -10px;
    left: calc(50% - 20px);
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}
.product-detail--title h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .icon-card{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    /* background-image: url('./assets/icons/clock.svg'); */
    background-size: cover;/* Lo usamos cuando la img es mas grande que las dimenciones que le asignamos */
    background-repeat: no-repeat;
    background-position: center;
}
.clock{
    background-image: url('./assets/icons/clock.svg');
}
.eye{
    background-image: url('./assets/icons/eye.svg');
}
.dollar{
    background-image: url('./assets/icons/dollar-sign.svg');
}
.check-circle{
    background-image: url('./assets/icons/check-circle.svg');
}
/* Intentar hacer una clase para los textos y elementos separados igual que los iconos con sus nombres */
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body{
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container{
    width: 100%;
    height: 60vh;
    min-width: 320px; 
    background-image: url('./assets/imgs/bitcoinbaby2x.jpg');
    background-size: cover;/* Lo usamos cuando la img es mas grande que las dimenciones que le asignamos */
    background-repeat: no-repeat;
    background-position: center;

}
.bitcoin-img-container h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    position: relative; 
    top: 50px; 
    /* padding-top: 60px; */
    text-align: center;
    color: var(--just-white);
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    /* padding: 60px 0; */
    text-align: center;
    padding-bottom: 60px;
}
.plans-title{
    width: 90%;
    min-width: 288px;
    margin: 0 auto;
    height: auto;

}
.plans-title h2{
    font-weight: bold;
    font-size: 2.4rem;
    padding-top: 50px;
    line-height: 2.6rem;
    color: var(--black);
}
.plans-title p{
    padding-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    /* scroll-snap-type: x proximity; */
    text-align: center;
}
.plans-container--card{
    position: relative;/* relative generamos efecto flotante del item colocandolo en el centro del section */
    /*scroll-snap-align: center;  Centra el elemento siguiente cuando el contenido esta en la mitad de la pantalla */
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    margin-left: auto;
    margin-right: auto;
}
.recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    /* padding-top: 8px; */
}
.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
    /* vertical-align: 25px; */
    bottom: 25px;
    position: relative; 
}
.plan-card--saving{
    font-size: 1.2rem;
    padding-bottom: 15px;
    color: #757575;
}
.plan-card--ca{
    width: 150px;
    height: 48px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 5px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    color: var(--black);
}
.plan-card--ca span{
    background-image: url('./assets/icons/orange-right-arrow.svg');
    background-size: cover;/* Lo usamos cuando la img es mas grande que las dimensiones que le asignamos */
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom; /*  Alineamos el icono con el texto del boton */
}
/* Add 3 other plan cards */
footer{
    display: flex; /* Para que ambas sections queden al lado de la otra */
    width: 100%;
    min-width: 320px;
    height: 218px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-self: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
} 
.left li{
    margin: 10px 0;
}
.left a{
    text-decoration: none;
    color: var(--just-white);
}
